-#encoding: utf-8
.row.page-header
  %h3= current_user.name

.row{style: "margin-top: 5px; background: white;"}
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th 名称
        %th 数量
        %th 备注
    %tbody
      %tr
        %td 活动
        %td= @campaigns.count
        %td
      %tr
        %td 开信
        %td= @tracks.count
        %td
      %tr
        %td 订单
        %td= @orders.count
        %td
