= stylesheet_link_tag "/stylesheets/bootstrapValidator.min.css"
= javascript_include_tag "/javascripts/bootstrapValidator.js"

- url = "/account/campaigns" + (@campaign.id.nil? ? "" : "/%d" % @campaign.id)
%form#campaignForm.form-horizontal{role: "form", "accept-charset" => "UTF-8", action: url, method: "post", novalidate: "novalidate"}
  .form-group
    %label.col-lg-2.control-label 标题*
    .col-lg-10
      %input.form-control{name: "campaign[subject]", placeholder: "标题", type: "text", value: @campaign.subject}
  .form-group
    %label.col-lg-2.control-label 收件人*
    .col-lg-10
      %input.form-control{name: "campaign[tos]", placeholder: "收件人", type: "text", value: @campaign.tos}
  .form-group
    %label.col-lg-2.control-label 描述&nbsp;
    .col-lg-10
      %textarea.form-control{name: "campaign[desc]", placeholder: "描述", type: "text", value: @campaign.desc}
  .form-group
    .col-lg-offset-2.col-lg-4
      %button.btn.btn-primary{type: "submit"} 提交
      %button#resetBtn.btn.btn-default{:type => "button"} 重置


= javascript_include_tag "/javascripts/campaign_form.js"
