.page-header
  .row
    .col-lg-6
      %h3 活动明细
    .col-lg-6{style:"height:56px;padding-top:25px;"}
      %a.btn.btn-link.right{href: "/account/campaigns"}
        %span.glyphicon.glyphicon-list

.row
  %dl.dl-horizontal
