-#encoding: utf-8
.row.page-header
  .col-lg-6
    %h1 开信列表

.row{style: "margin-top: 5px; background: white;"}
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th 标题
        %th ip 
        %th 开信时间
    %tbody
      - @tracks.each_with_index do |track, index|
        - id = "track_%d" % track.id
        %tr{id: id}
          %td= track.campaign.subject if track.campaign
          %td= track.ip
          %td= track.created_at.strftime("%Y-%m-%d %H:%M")
