#breadcrumb.container.hidden
  .alert.alert-success
    %ol.breadcrumb{style: "margin:0px;padding:0px;background: transparent;"}
      %li.first-level
        %a{:href => "#"} Home
      %li.second-level.active Library
