-#encoding: utf-8
.row.page-header
  %h3{style: "display: inline-block;"} 回收站
  %button.btn.btn-default.btn-sm{onclick: "Sinatra.operateWithAjax('delete','/account/trash/clear','', '清空[回收站]');"}
    清空

.row{style: "margin-top: 5px; background: white; border-radius: 5px;"}
  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"aria-controls" => "collapseOrder", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOrder"}
            订单
            %span.badge= @orders.count
      #collapseOrder.panel-collapse.collapse{:role => "tabpanel", :style => "height: 0px;"}
        .panel-body
          = haml :_orders_panel
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"aria-controls" => "collapseRecord", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseRecord"}
          活动
          %span.badge= @campaigns.count
      #collapseRecord.panel-collapse.collapse{:role => "tabpanel"}
        .panel-body
          dddd
