-#encoding: utf-8
.row
  %h3 回收站

.row{style: "margin-top: 5px; background: white; border-radius: 5px;"}
  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"aria-controls" => "collapseOrder", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOrder"}
            Orders 
            %span.badge= @orders.count
      #collapseOrder.panel-collapse.collapse{:role => "tabpanel", :style => "height: 0px;"}
        .panel-body
          dd
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"aria-controls" => "collapseTrack", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTrack"}
            Tracks
            %span.badge= @tracks.count
      #collapseTrack.panel-collapse.collapse{:role => "tabpanel"}
        .panel-body
          aa
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"aria-controls" => "collapseRecord", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseRecord"}
            Records 
            %span.badge= @records.count
      #collapseRecord.panel-collapse.collapse{:role => "tabpanel"}
        .panel-body
          dddd
